<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Consumir - Git</h1>
        <p class="lead">Front para consumir api do git hub.</p>
        <hr class="my-4">
        <p>Exemplo simples, Espero que goste!!!</p>
        <p class="lead">
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
            <a class="btn btn-primary btn-lg" href="#"  th:href="@{~/programadores/list}" role="button">Lista de programadores</a>
        </li>
        </p>
    </div>
</div>
</body>
</html>
