<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <div class="card">
            <div class="card-header">
                Lista de usuário
            </div>
            <div class="card-block" style="padding: 24px;">
                <a type="button" class="btn btn-success btn-sm pull-right"
                   data-placement="top" title="novo"
                   th:href="@{/usuario/novo}"><i class="fa fa-plus"></i></a>
                    <table id="list" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>login</th>
                            <th class="text-center">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${usuarios.empty}">
                            <td colspan="8"> Não há dados para listar!</td>
                        </tr>
                        <tr th:each="usuario : ${usuarios}">
                            <td><span th:text="${usuario.username}">  </span></td>
                            <td class="btn-group-sm text-center">
                                <a type="button" class="btn btn-info"
                                   th:href="@{/usuario/editar(id=${usuario.id})}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a type="button" class="btn btn-danger"
                                   th:href="@{/usuario/remover(id=${usuario.id})}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>